<footer class="footer">
  <p>This tutorial was authored and published by <script type="text/javascript">document.write("<a href='mailto:" + obfuscateEmail() + "'>")</script>Dr. Andreas Deininger</a> using the <a href="https://antora.org/" target="_blank">antora</a> publishing toolchain.</p>
  <p>This tutorial and the source code of the associated sample project are licensed under the terms of the MIT license.</p>
</footer>
