<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://ask.embedded-wizard.de/" target="_blank">Ask for help</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://github.com/deining/EmWiTutorial" target="_blank">Project on GitHub </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/deining/EmWiTutorial/tree/main/src" target="_blank">Sources (Embedded Wizard)</a>
            <a class="navbar-item" href="https://github.com/deining/EmWiTutorial/tree/main/www/asciidoc/modules" target="_blank">Markup tutorial site (AsciiDoc)</a>
            <a class="navbar-item" href="https://github.com/deining/EmWiTutorial/tree/main/docs" target="_blank">Tutorial website (HTML)</a>
            <a class="navbar-item" href="https://github.com/deining/EmWiTutorial/issues" target="_blank">Report an issue</a>
            <a class="navbar-item" href="https://github.com/deining/EmWiTutorial/pulls" target="_blank">Create a pull request</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://www.embedded-wizard.de/">Embedded Wizard</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.embedded-wizard.de/features/" target="_blank">Features</a>
            <a class="navbar-item" href="https://www.embedded-wizard.de/platforms/" target="_blank">Platforms</a>
            <a class="navbar-item" href="https://www.embedded-wizard.de/features/services/" target="_blank">Services</a>
            <a class="navbar-item" href="https://www.embedded-wizard.de/features/support/" target="_blank">Support</a>
            <a class="navbar-item" href="https://www.embedded-wizard.de/features/cases/" target="_blank">Use cases</a>
            <a class="navbar-item" href="https://www.embedded-wizard.de/features/demo/" target="_blank">Demos</a>
            <a class="navbar-item" href="https://www.embedded-wizard.de/features/news/" target="_blank">News</a>
            <a class="navbar-item" href="https://www.embedded-wizard.de/features/pricing/" target="_blank">Pricing</a>
            <a class="navbar-item" href="https://www.embedded-wizard.de/features/download/" target="_blank">Download</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://doc.embedded-wizard.de/" target="_blank">EmWi documentation</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://doc.embedded-wizard.de/basic-concepts" target="_blank">Basic concepts</a>
            <a class="navbar-item" href="https://doc.embedded-wizard.de/working-with-embedded-wizard" target="_blank">Working with Embedded Wizard</a>
            <a class="navbar-item" href="https://doc.embedded-wizard.de/platform-integration-and-build-environments" target="_blank">Platform Integration</a>
            <a class="navbar-item" href="https://doc.embedded-wizard.de/embedded-wizard-studio" target="_blank">Embedded Wizard Studio</a>
            <a class="navbar-item" href="https://doc.embedded-wizard.de/chora-reference" target="_blank">Programming language chora</a>
            <a class="navbar-item" href="https://doc.embedded-wizard.de/mosaic_overview" target="_blank">Framework Mosaic</a>
            <a class="navbar-item" href="https://doc.embedded-wizard.de/release-notes" target="_blank">Release notes</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="/EmWiTutorial/EmWiTutorial/latest/_attachments/pdf/Tutorial.pdf">Download PDF version</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
